#list {
  .box {
    width: 80%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
  }
  .todo1 {
    font-size: 5rem;
    color: #d9674e;
  }
  .todo2 {
    font-size: 1.5rem;
    color: #666;
  }
  .todo3 {
    font-size: 3rem;
    color: #666;
  }
  .todo4 {
    font-size: 2.5rem;
    color: #f28f6b;
  }
  .left,
  .right {
    width: 50%;
    margin-top: 2rem;
    position: relative;
    justify-content: space-around;
    .today p,
    .week p {
      font-size: 2rem;
      color: #666;
      position: absolute;
      top: -2rem;
    }
  }
  .text {
    color: #d9674e;
    font-size: 2rem;
  }
  .line {
    border-bottom: 5px solid #d9674e;
  }
  .chart {
    margin-top: 13rem;
  }
}

@include w1300 {
  #list {
    .box {
      width: 65%;
    }
    .left,
    .right {
      width: 100%;
    }
  }
}
@include w800 {
  #settings {
    .box {
      width: 80%;
    }
  }
}
